<launch>

  <!-- <param name="pkg_name" command="$(find xacro)/xacro $(find pkg_name)/urdf/robot_name.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robot_name"/>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen"/>  -->

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="world_name" value="$(find SUST_IICT_WORLD)/worlds/SUST_IICT.world"/>
  
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
</launch>
